---
title: "Panto 2013: Donation to the Julian Trust Homeless Shelter"
published: true
slug: /panto-2013-money-raised
tags: ["panto"]
---

<div>
	<section>
		<hr />
		<h3>Panto 2013: Donation to the Julian Trust Homeless Shelter</h3>
		<hr />
		<br />

		<p>The last two years that we have put on <a href="/panto">Bristol's finest pantomime</a> we've also had a little fundraiser to get some cash to buy some props and fund my increasingly expensive drug habit (J0KES LULZ).</p>

		<p>This year Christophe, Lukas, and Pardon My French all graced the decks completely for free (so big up all themselves) at the Big Chill back in December. It was a top night, and thanks to all who came down.</p>

		<img src="../public/images/thanks_letter.jpg">

		<p>We once again raised more money than we spent on the Panto (which you proabably worked out if you saw it), and have finally got our shiz together and donated it to the <a href="http://juliantrust.org.uk/">Julian Trust homeless shelter</a> in Portland Square, Bristol.</p>

		<p>We gave them £335, which isn't too shabby considering this is a seperate pot to the money raised on the actual day of the panto. So, once again massive thanks to everyone who put in the long hours that and hard work that our (my) lackadaisical preparation schedule necessitates.</p>

		<p>Please like our <a href="https://www.facebook.com/PictonStreetTheatreCo">Facebook page</a> to hear about more exciting things like this blog post :/</p>

		<p><small>NB yeah okay we only raised enough money for them to run for a fifth of a week, but that is better than nothing.</small></p>

		<p><small>NB#2 I didn't ask them to just thank me in the letter. I honestly didn't.</small></p>

	</section>
</div>