---
title: "Easter Eggs in games: What, Why, but really Why?"
published: true
slug: /easter-eggs-games-talk
tags: ["games"]
---

<div>
	<section>
		<hr />
		<h3>Easter Eggs in games: What, Why, but really Why?</h3>
		<hr />
		<br />

		<p>Last October my esteemed colleague <a href="http://www.twitter.com/efergan">Daniel Efergan</a> and myself gave a talk about Easter Eggs in video games at the very excellent <a href="http://thisisplayful.com">Playful 2014</a> conference in London.</p>

		<div class="video_wrapper">

			<iframe src="//player.vimeo.com/video/113086493?color=ffffff&byline=0&portrait=0" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

		</div>

		<p>The theme of the conference was 'Hidden', and the organisers from <a href="http://wearemudlark.com/">Mudlark</a> asked us to talk about something personal to us; they didn't want some thinly veiled product placement (and neither did we). Dan and I both grew up playing and still play a lot of games, so the idea of hidden things instantly made us think of Easter Eggs.</p>

		<p>After defining between ourselves that Easter Eggs in the context of games are something hidden that falls outside of the normal rule set of a game (i.e. doesn't necessarily reward or progress the player), we originally thought we would be talking all about game developers and ego. People obviously want to make a mark on the world, especialy a world that they have created. However, after thinking and talking about it every Wednesday lunchtime at <a href="http://www.spikeisland.org.uk/">Spike Island</a> for two months, that had shifted quite a lot.</p>

		<p>We came to believe that although this is true, it is actually a much more interesting emotional response that the joy Easter Eggs elicit comes from. The reason devlopers create them and the reason people feel so much joy in uncovering them is based on our own desires to break out of the rules set we ourselves currently inhabit.</p>

		<p>We may have gone to wanky and deep, but watch the talk, see what you think.</p>

	</section>
</div>