<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}George Henry Rowe | Digital Producer, Generative Design, Web Design, Other{% endblock %}</title>
        {{ "style.css" | asset_url | stylesheet_tag }}
        {{ "scripts.js" | asset_url | script_tag }}
        <!-- TODO: OOCSS-ify the custom styles and break up the base into smaller modules :) -->
        <script src="../public/scripts/libs/typingtext.js"></script>
        {% comment %}<script src="../public/scripts/libs/p5.min.js"></script>
        <script src="../public/scripts/libs/p5.collide2d.min.js"></script>
        <script src="../public/scripts/libs/sketch.min.js"></script>{% endcomment %}
        {% comment %}<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.4/p5.js"></script>{% endcomment %}
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    </head>

    <style>


        body {
            background-color: #000;
        }

        h1 {
            position: absolute;
            bottom: 100px;
            right:50px;
            width: 400px;
            margin: 0 auto;
            color:#fff;
            text-align:center;
            font-size:32px;
            
        }

        h1 > a {
            color:fff;
            
        }
/*        #content {
            background: none;
            background-color: #000;
            animation: color-change-3 90s infinite;
            -webkit-animation: color-change-3 90s infinite;
        }*/

    </style>


    <body>

            <div id="sketch-holder">
            </div>
            <h1>George Henry Rowe</br>
            <a href="/about">Enter site</h1></a>
            

    </body>
</html>