---
title: "Room 1"
published: true
slug: /1
tags: ["dark"]
layout: adventure
---

<div>

	<section>
	
		<div class="toTop">

		<p><span class="fadeInLongRed8s">This cold night will turn us all to fools and madmen</span>

		{% comment %}</br><span class="fadeIn7s">King Lear</p>{% endcomment %}

		<p class="fadeIn8s"><a href="2">Continue</a></p>

		</div>

</div>

	</section>

<script>
	var sound = new Howl({
	urls: ['../public/sounds/1.wav']
	}).play();
</script>