---
title: "Room 2"
published: true
slug: /2
tags: ["light"]
layout: adventure
---

<div>

	<section>

		<div class="toTop">
			
			<p class="fadeIn0s">Wow. What is this sensation?</p>

			<p class="fadeIn1s">Either someone sneakily wrapped you up in a massive gin soaked cloth and battered your fragile carcass with a hammer, or last night must have been pretty good fun.</p>

			<p class="fadeIn4s">What do I remember? Not much. Run a systems check: numb and sore in almost equal measures, with an acute, cold and/or wet feeling on the right temple. Brain must be functioning as these thoughts exist, but you can't really give it much more credit that that. A good night.</p>

			<p class="fadeIn7s">You suppose it is time to <a href="3">open your eyes</a> and face whatever music you scored last night.</p>

		</div>

	</div>

</section>

<script>
	var sound = new Howl({
	urls: ['../public/sounds/2.wav']
	}).play();
</script>

