---
title: "Room 4a"
published: true
slug: /4a
tags: ["static"]
layout: adventure
---

<style type="text/css">

	body {
		background:url(/public/images/static.gif)no-repeat center center fixed;
		background-size: cover;
	}
	
	#content {
		background:url(/public/images/static.gif)no-repeat center center fixed;
		background-size: cover;
		height: 100%;
	}
	
	p {
		color: #000;
		padding: 0 10px 0 10px;
	}

	.toTop {
		background-color: rgba(255,255,255,0.8);
	}



</style>

<div>

	<section>
	
		<div class="toTop fadeIn1s">

		<p class="fadeIn2s">You shift your ailing body over to the monitor, carefully avoiding anything sticky or the many menacing electrical discharges spouting from consoles.</p>

		<p class="fadeIn4s">Branded on top of screen are the words "Ventico ShortRange: 0 - 500". You think you glimpse a frame of information in the garbled output.</p>

		<p class="fadeIn6s">[Stare deeply into the static for 5 seconds]</p>

		<p class="fadeIn11s">If you think you can see something, <a href="5a">examine it further</a> or if you don't see anything, <a href="5b">move away from the screen</a>

		</div>

</div>

	</section>

<script>
	var sound = new Howl({
	urls: ['../public/sounds/static.mp3'],
	loop: true,
	volume: 0.1,
	}).play();
</script>