<footer id="ghrfooter">

	<small><a href="http://www.twitter.com/ghrowe">Twitter</a> &nbsp;|&nbsp; <a href="http://instagram.com/georgehenryrowe">Instagram</a> &nbsp;|&nbsp; <a href="http://www.linkedin.com/pub/george-rowe/34/ab1/23b">LinkedIn</a></small> <br />

	<small>© 2016 GHR. Made with <a href="http://responsablecss.com/">ResponsableCSS</a> framework in <a href="http://sass-lang.com/">SASS</a> and compiled with <a href="http://mixture.io/">Mixture</a>. Typeset with Karla from <a href="https://www.google.com/fonts">Google Fonts</a></small>.

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-38235964-1', 'georgehenryrowe.co.uk');
	  ga('send', 'pageview');

	</script>

	<script>
		$(function(){
		  $('a').each(function() {
		    if ($(this).prop('href') == window.location.href) {
		      $(this).addClass('current');
		    }
		  });
		});
		</script>

</footer>