<header id="ghrhead">
	<div id="topbar">
		<hgroup>
			<h1 class="desktoplogo"><a href="/">George Henry Rowe</a></h1>
			<h1 class="mobilelogo"><a href="/">GHR</a></h1>
		</hgroup>

		<div class="mainmenu">
			<nav>
				<ul>
					<li><a href="/work" class="work">Work</a></li>
					<li><a href="/panto" class="panto">Panto</a></li>
					<li><a href="/blog" class="blog">Blog</a></li>
					<li><a href="mailto:&#103;&#101;&#111;&#114;&#103;&#101;&#104;&#101;&#110;&#114;&#121;&#114;&#111;&#119;&#101;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">Contact</a></li>
				</ul>
			</nav>
		</div>

		<div class="mobilemenu">

			<a href="#" id="trigger-overlay" class="fa fa-bars"></a>

			<div class="overlay overlay-hugeinc">
				<button type="button" class="overlay-close">Close</button>
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/work">Work</a></li>
						<li><a href="/panto">Panto</a></li>
						<li><a href="/blog">Blog</a></li>
						<li><a href="mailto:&#103;&#101;&#111;&#114;&#103;&#101;&#104;&#101;&#110;&#114;&#121;&#114;&#111;&#119;&#101;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;" class="contact">Contact</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
		<script src="../public/scripts/libs/modernizr.custom.js"></script>
		<script src="../public/scripts/libs/classie.min.js"></script>
		<script src="../public/scripts/libs/demo1.min.js"></script>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</header>