body:before { 
                            white-space: pre; 
                            font-family: monospace; 
                            content: 'Sass Error: Invalid US-ASCII character \"\\xE2\" \A         on line 12 of \\Users\\georgerowe\\Sites\\ghr\\public\\styles\\responsable\\grid.scss \A         from line 82 of \\Users\\georgerowe\\Sites\\ghr\\public\\styles\\responsable\\style.scss \A '; } 
                            
                            body * { 
                            display: none; 
                            } 