{% block content %}

	<div>

			<section>

				<hr />

				<h3>404</h3>

				<hr />

				<br />

				<p>Whoops...you didn't find what you were looking for, but...</p>

				<br />

				<div class="rainbow">

					<p class="red">Can you</p>
					<p class="yellow">find the rainbow</p>
					<p class="pink">hidden in these words?</p>
					<p class="green">I'll give you a clue to help.</p>
					<p class="purple">Why not try selecting all of this text?</p>
					<p class="orange">I probably made that a bit too easy for you, didn't I?</p>
					<p class="blue">Well, why don't you see if you can find the pot of gold on your own...</p>
				</div>

			</section>

	</div>

{% endblock %}