{% block content %}

	<div>

			<section>

				<hr />

				<h3>404</h3>

				<hr />

				<br />

				<p>Whoops...you didn't find what you were looking for, but...</p>

				<br />

				<div class="rainbow">

					<p><span class="red">Can you</span></p>

					<p><span class="red">fi</span><span class="yellow">nd the rainbo</span><span class="red">w</span></p>

					<p><span class="red">hi</span><span class="yellow">dd</span><span class="pink">en <span class="green">in thes</span>e wo</span><span class="yellow">rd</span><span class="red">s?</span></p>

					<p><span class="red">I'</span><span class="yellow">ll</span><span class="pink"> gi</span><span class="green">ve yo<span class="purple">u a l</span>itt<span class="pink">le</span> <span class="yellow">cl</span><span class="red">ue.</span></p>

					<p><span class="red">Wh</span><span class="yellow">y d</span><span class="pink">on'</span></span><span class="green">t yo</span><span class="purple">u try</span><span class="orange"> selec</span><span class="purple">ti<span class="green">ng </span><span class="pink">thi</span><span class="yellow">s te</span><span class="red">xt?</span></p>

					<p><span class="red">I m</span><span class="yellow">igh</span><span class="pink">t ha</span></span><span class="green">ve </span><span class="purple">ma</span><span class="orange">de </span><span class="blue">that a</span><span class="orange"> li</span><span class="purple">tt<span class="green">le </span><span class="pink">too </span><span class="yellow">ea</span><span class="red">sy.</span></p>

					<p><span class="red">Let</span><span class="yellow">'s s</span><span class="pink">ee </span></span><span class="green">if </span><span class="purple">you</span><span class="orange"> ca</span><span class="blue">n find the </span><span class="orange">pot</span><span class="purple"> of<span class="green"> gol</span><span class="pink">d yo</span><span class="yellow">urs</span><span class="red">elf!</span></p>

				</div>

			</section>

	</div>

	<script>
	console.log('%c HERE IS THE POT OF GOLD!', "background: gold; color: black; font-size:30px");
	</script>

{% endblock %}