{% block content %}

	<div>

			<section>

				<hr />

				<h3>404</h3>

				<hr />

				<br />

				<p>Whoops...you didn't find what you were looking for, but...</p>

				<br />

				<div class="rainbow">

					<p><span class="red">Can you</span></p>

					<p><span class="red">fi</span><span class="yellow">nd the rainbo</span><span class="red">w</span></p>

					<p><span class="red">hi</span><span class="yellow">dd</span><span class="pink">en <span class="green">in thes</span>e wo</span><span class="yellow">rd</span><span class="red">s?</span></p>

					<p><span class="red">I'</span><span class="yellow">ll</span><span class="pink"> gi</span><span class="green">ve yo<span class="purple">u a l</span>itt<span class="pink">le</span> <span class="yellow">cl</span><span class="red">ue.</span></p>

					<p><span class="red">Why</span><span class="yellow"> don</span><span class="pink">'t y</span></span><span class="green"> tr</span><span class="purple">y s</span><span class="orange">electing </span><span class="purple">thi<span class="green">s te</span><span class="pink">xt</span><span class="yellow">xt</span><span class="red">?</span></p>

					<p><span class="red"></span><span class="yellow"></span><span class="pink"><span class="green"></span><span class="purple"></span><span class="orange"></span><span class="blue"></span></p></span><span class="orange"></span><span class="purple"><span class="green"></span><span class="pink"></span><span class="yellow"></span><span class="red"></span></p>

					<p><span class="red"></span><span class="yellow"></span><span class="pink"><span class="green"></span><span class="purple"></span><span class="orange"></span><span class="blue"></span></p></span><span class="orange"></span><span class="purple"><span class="green"></span><span class="pink"></span><span class="yellow"></span><span class="red"></span></p>

				</div>

			</section>

	</div>

{% endblock %}