{% block content %}

	<div>

			<section>

				<hr />

				<h3>404</h3>

				<hr />

				<br />

				<img src="http://www.georgehenryrowe.co.uk/public/images/doge.jpg">

				<p>You found doge! Thought this might not have been what you are looking for. Why not return home and start again?</p>

			</section>

	</div>

{% endblock %}