{% layout "adventure" %}
{% block content %}

	<div>

			<section>

				<div>

					<h3 class="fadeIn0s">Song of Dagless</h3>

					<p class="fadeIn2s">Chapter One: Once more unto the beginning, dear friends</p>

					<p class="fadeIn4s">Click here to <a href="/adventure/1">start</a>.</p>

				</div>

			</section>

	</div>

{% endblock %}
