{% block content %}

	<div>
			<section>

				<hr />
				<h2>Archery Scoreboard</h2>
				<hr />
				<br />

				<div>

					<p>How many archers do you have?</p>

				<form>
					<select id="noOfPlayers" name="noOfPlayers">
						<option value="0"></option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
					</select>
				</form>

				<button type="button" onclick="setNoPlayers()">Submit</button>

				<br />

			</section>
		</div>
{% endblock %}