{% block content %}

	<div>

			<section>

				<hr />

				<h2>Blog</h2>

				<hr />

				<br />

				{% collection "blog" %}

				  {% for post in collection.items %}
				  	<small>{{ post.date }}</small>
				    <p><a href="{{ post.slug }}"> {{ post.title }}</a></p>
				  {% endfor %}

				{% endcollection %}

			</section>

	</div>

{% endblock %}
