{% block content %}
	<div>
			<section>

				<a name="type"></a>

				<p>Hi, how you doing?</p>

				<p>My name is George and I am a digital producer at <a href="http://www.aardman.com/">Aardman Animations</a>, making games and other cool digital things for a whole host of attractive clients. You can see some of the projects I have been involved with in the <a href="/work">work</a> section of this site.</p>

				<p>I also dabble incompetently in web design, mostly for my own fun but sometimes for money. You can see some of the sites I have made in the <a href="/work">work</a> section as well, because I don't have much imagination. I am going to write about a few things I have learned in the <a href="/blog">blog</a> section.</p>

				<p>I also write and direct a pantomime in Bristol every year, which you can see on the <a href="/panto">panto</a> page. I used to write quite a lot of things, and am going to add some old and new stuff (probably slowly) to the <a href="/blog">blog</a>.</p>

				<br />

			</section>
		</div>
{% endblock %}