{% block content %}

	<div>

			<section>

				<hr />

				<h3>Panto</h3>

				<hr />

				<h5>About</h5>

				<p>The Picton Street Theatre Co. pantomimes are characterised by a ragtag bunch of amateurs messing around and staging a mystical, magical and muddled menagerie of performance every year in Bristol.</p>

				<p>Expect: bad accents, acoustic hip hop, salacious humour, jokes that don't quite work, men playing women, women playing men, Dan playing the guitar, jokes that work on four entirely seperate levels (none of them good) and much, much more...</p>

				<iframe width="560" height="315" src="http://www.youtube.com/embed/LXhkDhu2QZI" frameborder="0" allowfullscreen></iframe>

				<br />

				<h5>Backstory</h5>

				<p>Salutations, traveller...</p>

				<p>Many moons ago mystic narrator Mystic Greg Walker divined that he would wish to perform a Christmas nativity play. My penchant for pens and chanting led me to get involved, originally in a script writing capacity. This somehow turned into also directing and producing, and along with a fantastic corps of actors, ninjas and room meat we have now managed to perform three pantomimes that would have sold out, had we been selling any tickets.</p>

				<p>If you are a fan you can <a href="https://www.facebook.com/PictonStreetTheatreCo">LIKE this page</a> to find out about upcoming performances.</p>

				<p>If you would like to get involved we have a private Facebook group <a href="https://www.facebook.com/groups/214902295256826/">here</a>, but please <a href='mailto&#58;&#103;&#37;65%6Fr&#103;eh&#37;65&#110;%7&#50;yr&#111;we&#64;gm%61%69l&#37;2&#69;com'>ping me an email</a> first so I know you aren't some spammer amazed at how much money you made in THESE THREE EASY STEPS.</p>

				<p>You can download the nearly complete script (we tend to change a lot) of our original performance 'Hansel and Gretel and Friends' <a href="http://georgehenryrowe.co.uk/h%20&%20G%20v6.docx">here</a>.</p>
				
				<p>You can watch the nearly error free performance (ha, yeah right) of our second performance in 2012: 'Pinocchio: A New Hope' above, or <a href="http://www.youtube.com/watch?v=LXhkDhu2QZI">here</a>.</p>

				<br />

			</section>

	</div>


<script>
  $(document).ready(function(){
    // Target your .container, .wrapper, .post, etc.
    $("section").fitVids();
  });
</script>

{% endblock %}