{% block content %}
	<div>
			<section>

				<section id="Visuals">

					<hr />

					<h2>Visuals</h2>

					<hr />

				</section>

				<br />

				<p class="pullOut">I've just started learning and mucking around with Processing and also the Hype framework after doing a course by Joshua Davis and working with Stefan Goodchild.</p>
				<p class="pullOut">Weird results will be posted here, mainly audio reactive visuals and generative art.</p>

				<h3>Happy Birthday Barnes</h3>
				<a href="../visuals/barnes/index.html"><img src="/public/images/barnesBirthday.jpg"></a>
				<p>First time trying out <a href="http://p5js.org/">p5js</a> and using FFT analysis from it's bundled sound library. Pretty fun, I stuck my friend's face on the cursor for his birthday.</p>
				<p>I can't remember where I downloaded the song from...whoops.</p>

				<h3>Cubes de Joanie</h3>
				<a href="/public/images/cubeRotate.gif"><img src="/public/images/cubeRotate.jpg"></a>
				<p>Inspired by some plotter drawings by the very awesome <a href="http://joanielemercier.com/">Joanie Lemercier</a> (who was in turn inspired by Sol DeWitt) I made some spinning cubes. Colour is randomly picked from a palette of four pastel shades, the cubes all spin around x, y and z. X axis spin is increased by the position of the cube in the pool.</p>
				<p>Click on the image to see the 16mb gif (!) above, or see on Instagram <a href="https://www.instagram.com/p/BEE1dzcGEWd/">here</a>.

				<h3>Claude's Colour Flash</h3>
				<a href="/public/images/colourFlash.jpg"><img src="/public/images/colourFlash_small.jpg"></a>
				<p>Playing with patterns and sound. Triangle colours randomly generated, and the alpha set by the amplitude of different bands of the audio in Claude Vonstrokes's 'Eye i Eye'. Exported nine frames out at random times and put them together.</p>

				<p>Click on the image or <a href="/public/images/colourFlash.jpg">here</a> to view and download the fullsize image.</p>

				<h3>Spinning Cube of Mind Games</h3>
				<div class="videoContainer">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/u090n5NQL6E?controls=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
				</div>
				<p>Two cubes spin based on x, y, z, and speed is from frequency of different parts of the audio. Red and blue point lights in the corners which change z depth based on bass (lol), and one in the middle of the cube with rgb values that change colour randomly based on frameCount and other things. Cube opacity changes from amplitude of bass.</p>
				<p>Track is <a href="https://www.discogs.com/Hodge-Mind-Games-Flashback/release/6150320">Hodge - Mind Games</a>. Hope you don't mind Jake!</p>
				<p>NB I wanted to try using ProcessingJS/p5js so removed all the Hype stuff from this build, but then couldn't figure out how to export/change it yet.</p>

				<h3>StephDoug</h3>
				<div class="videoContainer">
					<iframe src="https://player.vimeo.com/video/160528707?color=ff0179&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
				<p>It was my good friend Steph's birthday, so I decided to make her Something weird involving her face, her cat, and some basics I learned on the <a href="https://gumroad.com/joshuadavis">Painting with Sound III</a> course. Uses Hype, so can't currently figure out how to export for web properly so you will have to do with this video.</p>
				<p>Oscillates at a speed based on the frequency band, colours also set by different frequency bands in the song, and size of sprite changes with amplitude.</p>

			</section>
		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/fitvids/1.1.0/jquery.fitvids.min.js"></script>
		<script>
		  $(document).ready(function(){
		    // Target your .container, .wrapper, .post, etc.
		    $(".videoContainer").fitVids();
		  });
</script>

{% endblock %}