{% block content %}
	<div>
			<section>

				<section id="Visuals">

					<hr />

					<h2>Visuals</h2>

					<hr />

				</section>

				<br />

				<p class="pullOut">I've been messing around with Processing recently, creating audioreactive visuals and trying out generative design.</p>
				<p class="pullOut">Weird results will be posted <a href="https://www.instagram.com/georgehenryrowe/">here</a>.</p>
				<p class="pullOut">Quite a lot of the below are videos; click on them to take a look.</p>

				<!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/629e108b59d75a3da277b29259971372.html" id="lightwidget_629e108b59" name="lightwidget_629e108b59"  scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>

			</section>
		</div>

		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/fitvids/1.1.0/jquery.fitvids.min.js"></script> -->

<!-- 		<script>
		  $(document).ready(function(){
		    // Target your .container, .wrapper, .post, etc.
		    $(".videoContainer").fitVids();
		  });
</script> -->

{% endblock %}