{% block content %}
	<div>
			<section>

				<section id="Web Design">

					<hr />

					<h2>Web Design</h2>

					<hr />

				</section>

				<br />

				<p class="pullOut">I quite enjoy making websites, sometimes for friends, sometimes for money, sometimes just to try stuff out. Want one? <a href="mailto:&#103;&#101;&#111;&#114;&#103;&#101;&#104;&#101;&#110;&#114;&#121;&#114;&#111;&#119;&#101;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">Drop me a line</a>.</p>

				<p><a href="http://archeryscoreboard.co.uk/">Online Archery Scoreboard</a></p>

				<p>I hadn't had much of a chance to learn over the end of 2015 as super busy, so I decided to at Xmas to play with AngularJS and make this field archery scoreboard. It's a little busted at the moment, soz. Got distracted by making pretty things in Processing!</p>

				<p><a href="http://www.ami-elisah.co.uk">Ami Elisah Bridal</a></p>

                <p>Elegant fully responsive Wordpress action, using my very favourite <a href="http://themble.com/bones/">Bones theme</a> as a starting point, for this bridal couture site.</p>

                <p><a href="http://www.wylde-music.co.uk">WYLDE music</a></p>

                <p>A classy simple Wordpress site using the <a href="http://themble.com/bones/">Bones theme</a>, with added fullscreen imagery goodness, for this Bristol duo.</p>

				<p><a href="http://www.heinrichwilhelmernst.com">Heinrich Wilhelm Ernst</a></p>

				<p>Wordpress jiggery pokery on the <a href="http://themble.com/bones/">Bones theme</a> for an academic website dedicated to the virtuoso violinist.</p>

				<p><a href="http://www.peruscrew.com">Perus Crew</a></p>

				<p>Responsive Wordpress site for Finland's best skateboard company. Built on the <a href="http://themble.com/bones/">Bones theme</a>, with loads of extra goodness thrown in.</p>

				<p><a href="http://outboxx.co.uk">Outboxx</a></p>

				<p>A simple and clean one page site for the deep house mandem Outboxx. Responsive build created off the back of <a href="http://stuffandnonsense.co.uk/projects/320andup/">320andup.</a></p>

				<p><a href="http://www.yankie.co.uk">Yankie</a></p>

				<p>Wordpress theme hacking and slashing for this blog about American music. Responsive grid.</p>

				<p><a href="http://doesmycomputerhaveavirus.com/">Does My Computer Have A Virus.com</a></p>

				<p>Messing around with CSS delays and simple animation. A "funny" internet lesson. Google still won't index it.</p>

				<p><a href="/">This website</a>

				<p>Obviously.</p>

				<br />

			</section>
		</div>
{% endblock %}