{% block content %}

	<div>

			<section id="production">

				<hr />

				<h2>Production</h2>

				<hr />

			</section>

				<p><a href="http://www.bbc.co.uk/programmes/articles/26Y2fJtHFZ2wWp397SHttGM/doctor-who-game-maker">Make It: Doctor Who</a></p>

				<figure>

					<a href="http://www.bbc.co.uk/programmes/articles/26Y2fJtHFZ2wWp397SHttGM/doctor-who-game-maker"><img src="/public/images/work_dw.jpg" class="work_image" alt="Doctor Who">

					<figcaption>

						<h3>Who you gonna call?</h3>

					</figcaption>

				</figure></a>

				<p>An updated and vastly improved version of our BBC Game Maker for their flagship brand. So many new goodies you can do with this; an object based logic system, multiple levels, scrolling levels, contextual help system, an updated publishing system, amazing new graphics, scores, timers, health, music and so much more. It's bleeding awesome.</p>
				<p class="pullOut">* Broadcast Digital Awards 2016: Best Children's Content *</p>

				<p><a href="https://www.mixital.co.uk/channel/bbc-introducing-vizii">Make It: Vizii</a></p>

				<figure>

					<a href="https://www.mixital.co.uk/channel/bbc-introducing-vizii"><img src="/public/images/work_vizii.jpg" class="work_image" alt="Eastenders Vizii">

					<figcaption>

						<h3>Super cool music visuals</h3>

					</figcaption>

				</figure></a>

				<p>Around about the time we finished making Make It: Technobabble, we were thinking "What other cool things can we make with this codebase?" At a similar time, a BBC R+D team pitched an idea at Connected Studios to make a music visualiser creator which would inspire Digital Creativity in the yoot. These two things combined, along with super cool art from people like <a href="http://news.richt-what.co.uk/">RichT</a>, <a href="https://www.behance.net/adoraattack">Adora Attacks</a>, Melbs, Peskimo, Ciaran O'Connor and more, and made Vizii. We built them to be easily converted to different brands, so along with BBC Introducing one, there is also a <a href="https://www.mixital.co.uk/channel/wordcraft-vizii">Poetry version</a>, and <a href="https://www.mixital.co.uk/channel/ten-pieces-vizii">Classical version</a>.</p>


				<p><a href="https://www.mixital.co.uk/channel/eastenders-soap-factory">Make It: Storyteller</a></p>

				<figure>

					<a href="https://www.mixital.co.uk/channel/eastenders-soap-factory"><img src="/public/images/work_storyteller.jpg" class="work_image" alt="Eastenders Storyteller">

					<figcaption>

						<h3>Ian Beale says relax</h3>

					</figcaption>

				</figure></a>

				<p>We took our Make It core from Technobabble, and turned it into an animated comic book maker. This first version was for Eastenders, with cool characters drawn by Aardman storyboard artist Rob Richards.</p>

				<p><a href="http://www.aardman.com/work/bbc-bitesize-the-charge-of-the-light-brigade/">BBC Bitesize: Charge of the Light Brigade</a></p>

				<figure>

					<a href="http://www.aardman.com/work/bbc-bitesize-the-charge-of-the-light-brigade/"><img src="/public/images/work_charge.jpg" class="work_image" alt="Charge of the Light Brigade">

					<figcaption>

						<h3>Epic poem learning</h3>

					</figcaption>

				</figure></a>

				<p>The BBC charged us at Aardman with making a couple of prototype interactive videos to user test how people engaged with different types of e-learning content. This was mine; layers of 2D Flash animation layered up in After Effects in a 3D space, with a layer of parallaxing animation over the top (created in Flash and exported with CreateJS), and then a layer of HTML over the top for accessible learning content. Layers! Can't link here, but <a href="mailto:georgehenryrowe@gmail.com">email me</a> if you want to play with it.</p>

				<p><a href="http://shauninthecity.org.uk/">Shaun in the City: app and website</a></p>

				<figure>

					<a href="http://shauninthecity.org.uk/"><img src="/public/images/work_sitc.jpg" class="work_image" alt="Shaun in the City">

					<figcaption>

						<h3>Find the sheep</h3>

					</figcaption>

				</figure></a>

				<p>Shaun in the City is a charity arts trail raising money for sick kids in hospitals across the UK. We made two things to help them (hopefully) raise even more than <a href="http://www.gromitunleashed.org.uk/">Gromit Unleashed's</a> £2.6 mil; a really slick fully responsive Drupal website, and an <a href="http://onelink.to/6u6psn">iOS/Android app</a> built in Unity. The app uses GPS to help you find all the sculptures, and you can collect achievements and view your and global stats using our API. Pow.</p>

				<p class="pullOut">* #1 Paid App - iOS and Android App Store *</p>

                <p><a href="http://www.bbc.co.uk/cbbc/games/make-it-technobabble-game-maker">Make It: Technobabble</a></p>

				<figure>

					<a href="http://www.bbc.co.uk/cbbc/games/make-it-technobabble-game-maker"><img src="/public/images/work_dmk.jpg" class="work_image" alt="Make It: Technobabble">

					<figcaption>

						<h3>Make cool things</h3>

					</figcaption>

				</figure></a>

				<p>The Make It kits are part of the BBC's Year of Digital Creativity for 2015, and this first version is a game maker built in HTML5/JS and built on the <a href="https://phaser.io/">Phaser</a> framework. Attempting to teach kids to be logical and creative, rather than straight coding languages, 600,000+ unique users have so far made games with the tool.</p>

				<p><a href="http://www.gromitunleashed.org.uk/">Gromit Unleashed</a></p>

                <figure>

					<a href="http://www.gromitunleashed.org.uk/"><img src="/public/images/work_gromitunleashed.jpg" class="work_image" alt="Gromit Unleashed">

					<figcaption>

						<h3>Charity dog site</h3>

					</figcaption>

				</figure></a>

				<p>Design and build of a sweet new website for Gromit Unleashed; the biggest dog show on earth, run by Aardman's charity The Grand Appeal. Fully responsive of course, with Drupal CMS.</p>

				<p><a href="http://www.shaunsgameacademy.co.uk/">Shaun's Game Academy</a></p>

				<figure>

					<a href="http://www.shaunsgameacademy.co.uk/"><img src="/public/images/work_sga.jpg" class="work_image" alt="Shaun's Game Academy">

					<figcaption>

						<h3>Learn some stuff</h3>

					</figcaption>

				</figure></a>

				<p>A national initiative to give kids the power to create their own games using <a href="http://www.scratch.mit.edu">Scratch</a>. Learn how to code, important principles of game design, and generally how to be an awesome dude/dudette. And win stuff!</p>
				<p class="pullOut">* Royal Television Society West Award 2015: Digital Creativity *</p>

				<p><a href="http://www.bbc.co.uk/cbeebies/show-me-show-me/games/show-me-show-me-find-and-create/">Show Me Show Me: Find and Create</a></p>

				<figure>

					<a href="http://www.bbc.co.uk/cbeebies/show-me-show-me/games/show-me-show-me-find-and-create/"><img src="/public/images/work_smsm.jpg" class="work_image" alt="Show Me Show Me: Find and Create">

					<figcaption>

						<h3>Find some things</h3>

					</figcaption>

				</figure></a>

				<p>Reponsive HTML5 game for the CBeebies where you create amazing dudes out of household items. Works magically on any device you care to try it on, even sound!</p>

				<p><a href="http://www.gruffalo.com">The Gruffalo website and games</a></p>

				<figure>

					<a href="http://www.gruffalo.com"><img src="/public/images/work_gruf.jpg" class="work_image" alt="The Gruffalo">

					<figcaption>

						<h3>Don't be gruff</h3>

					</figcaption>

				</figure></a>

				<p>Brand spanking new site for one of the most popular kids brands. Our totes profesh team at Aardman designed the site, and designed and built an interactive game area for the wee ones.</p>

				<p><a href="http://www.bbc.co.uk/cbbc/games/deadly-dash-4-extreme-edition">Deadly Dash 4: Extreme</a></p>

				<figure>

					<a href="http://www.bbc.co.uk/cbbc/games/deadly-dash-4-extreme-edition"><img src="/public/images/work_dd4.jpg" class="work_image" alt="Deadly Dash 4: Extreme">

					<figcaption>

						<h3>Steve must win</h3>

					</figcaption>

				</figure></a>

				<p>The fourth and best installment of Aardman's Flash endless runners for CBBC. It is totes extreme. Still one of the best performing CBBC games.</p>

				<p><a href="https://itunes.apple.com/gb/app/paddlepak-party/id670985466?mt=8">Paddlepak Party mobile app</a></p>

				<figure>

					<a href="https://itunes.apple.com/gb/app/paddlepak-party/id670985466?mt=8"><img src="/public/images/work_paddlepak.jpg" class="work_image" alt="Paddlepak Party">

					<figcaption>

						<h3>Underwater bag fun</h3>

					</figcaption>

				</figure></a>

				<p>Simple mobile game for 3 - 6 year olds where you need to eat loads of beachwear. Built in Unity and deployed to iOS.</p>

				<p><a href="http://www.open.edu/openlearn/science-maths-technology/engineering-and-technology/design-and-innovation/design/design-nutshell">Open University: Design in a Nutshell</a></p>

				<p>Six short animations detailing some of the most important bits of design history. And a quiz to determine which one you are most like!</p>

				<p><a href="http://www.arkive.org/education/team-wild">Team WILD</a></p>

				<p>A Flash endless runner for the animal charity ARKive.</p>

				<p><a href="http://www.thoughtden.co.uk/portfolio/#martinparr">Martin Parr voting system</a></p>

				<p>Bespoke touchscreen voting interface for the Martin Parr Exhibition at Bristol's M Shed. The first of many collaborations with the talented man like <a href="http://corinwilkins.co.uk/">Corin Wilkins</a>.</p>

				<p>I was also involved to a lesser extent with Magic Tate Ball, Survival, Ouch! and other cool TD projects.</p>

	</div>

{% endblock %}